* {
  font-family: Arial;
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  border: 0;
}
td {
  vertical-align: top;
}
.clr {
  clear: both;
}
.cover {
  height: 100%;
  width: 1210px;
  -webkit-box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
}
.cover .left_bar {
  width: 200px;
  height: 100%;
  background-color: #212121;
  display: block;
  float: left;
  position: fixed;
  padding: 30px 20px 10px 20px;
  font-size: 13px;
  line-height: 22px;
}
.cover .left_bar ul.nav {
  list-style-type: none;
  font-weight: bold;
  color: white;
}
.cover .left_bar ul.nav li > a {
  color: white;
  text-decoration: none;
}
.cover .left_bar ul.nav li > a:hover {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  text-shadow: 1px 0px 1px;
  color: #ededed;
  text-decoration: none;
}
.cover .left_bar ul.nav li > a.active {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #bf1313;
}
.cover .left_bar hr {
  color: #222222;
  margin: 20px 0;
}
.cover .left_bar form.search {
  position: relative;
}
.cover .left_bar form.search input {
  padding: 5px 2px 5px 5px;
  background: #222222;
  border: 1px solid #454545;
  color: #cccccc;
  width: 160px;
}
.cover .left_bar form.search input:focus {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background: white;
  color: #aaaaaa;
}
.cover .left_bar form.search .but {
  background: url(../images/17.png);
  height: 10px;
  width: 10px;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  cursor: hand;
  border: 0px solid;
}
.cover .content {
  margin-left: 200px;
  color: black;
}
.cover .content .header {
  height: 110px;
  padding: 20px 35px;
  border-bottom: 5px solid #212121;
}
.cover .content .header h1 {
  font-size: 44px;
}
.cover .content .header h1 a {
  color: black;
  text-decoration: none;
}
.cover .content .header span {
  color: #959595;
  font-size: 12px;
}
.cover .content .dop-menu-news {
  background: #f6f6f6;
  padding: 20px 35px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 13px;
  position: relative;
}
.cover .content .dop-menu-news span {
  font-weight: bold;
}
.cover .content .dop-menu-news a {
  display: inline-block;
  margin-right: 20px;
  color: #151515;
  text-decoration: none;
}
.cover .content .dop-menu-news a:hover {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #bf1313;
}
.cover .content .dop-menu-news a {
  padding-left: 20px;
  position: absolute;
  top: 20px;
  background: url(../images/navl.png) no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.cover .content .dop-menu-news a.left {
  background: url(../images/navl.png) no-repeat;
  right: 40px;
}
.cover .content .dop-menu-news a.right {
  background: url(../images/navr.png) no-repeat;
  right: 15px;
}
.cover .content .dop-menu-news a.left:hover {
  background: url(../images/navigation-180_6784.png) no-repeat;
  right: 40px;
}
.cover .content .dop-menu-news a.right:hover {
  background: url(../images/navigation_6173.png) no-repeat;
  right: 15px;
}
.cover .content .dop-menu-news a.active {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #bf1313;
}
.cover .content .main-content {
  padding: 40px 35px;
  float: left;
  padding-right: 310px;
}
.cover .content .main-content .main-content-block {
  width: 620px;
  min-height: 500px;
  margin-right: 15px;
}
.cover .content .main-content .main-content-block .other-news-blocks-i {
  width: 630px;
  margin: 0 auto;
}
.cover .content .main-content .main-content-block .other-news-blocks-i hr {
  border: 1px solid #cccccc;
  color: #222222;
  margin: 20px 0;
}
.cover .content .main-content .main-content-block .other-news-blocks-i h3 {
  margin: 10px 0;
}
.cover .content .main-content .main-content-block .other-news-blocks-i h3 > a {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #111111;
}
.cover .content .main-content .main-content-block .other-news-blocks-i a:hover {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #bf1313;
}
.cover .content .main-content .main-content-block .other-news-blocks-i a > img {
  width: 20px;
  height: 20px;
  margin-right: 25px;
}
.cover .content .main-content .main-content-block .other-news-blocks-i .cat {
  font-size: 12px;
  margin-right: 5px;
  font-weight: bold;
  color: #bf1313;
}
.cover .content .main-content .main-content-block .other-news-blocks-i .date {
  font-size: 12px;
  color: #959595;
}
.cover .content .main-content .main-content-block .other-news-blocks-i .il,
.cover .content .main-content .main-content-block .other-news-blocks-i .ir {
  display: inline-block;
}
.cover .content .main-content .main-content-block .other-news-blocks-i .il {
  float: left;
}
.cover .content .main-content .main-content-block .other-news-blocks-i .ir {
  float: right;
}
.cover .content .main-content .main-content-block .other-news-blocks-i .anons {
  font-size: 14px;
}
.cover .content .main-content .main-content-block .other-news-blocks-i:last-child hr {
  border: 0px;
}
.cover .content .main-content .main-content-block form input.txt {
  width: 618px;
  padding: 5px;
  border: 1px solid darkgray;
}
.cover .content .main-content .main-content-block form textarea {
  padding: 5px;
  border: 1px solid darkgray;
  width: 618px;
}
.cover .content .main-content .main-content-block form p {
  margin: 10px 0 15px 0;
}
.cover .content .main-content .main-content-block form label {
  margin-right: 10px;
}
.cover .content .main-content .main-content-block form .radio {
  margin-right: 5px;
}
.cover .content .main-content .main-content-block form span {
  font-weight: bold;
}
.cover .content .main-content .main-content-block form .submit {
  padding: 5px;
  font-size: 16px;
  float: left;
  margin-right: 30px;
}
.cover .content .main-content .main-content-block form .back {
  padding: 5px;
  font-size: 16px;
  float: left;
}
.cover .content .main-content-news {
  padding: 40px 35px;
}
.cover .content .main-content-news .main-content-wrapper {
  padding: 0px 35px 10px 35px;
  padding-right: 35px;
  min-height: 500px;
}
.cover .content .main-content-news .main-content-wrapper h2 {
  font-size: 32px;
  text-align: center;
}
.cover .content .main-content-news .main-content-wrapper .mes {
  padding: 10px;
  font-size: 14px;
  outline: 1px solid blue;
  text-align: center;
  margin: 5px;
}
.cover .content .main-content-news .main-content-wrapper .other-news-blocks-i {
  width: 630px;
  margin: 0 auto;
}
.cover .content .main-content-news .main-content-wrapper .other-news-blocks-i hr {
  border: 1px solid #cccccc;
  color: #222222;
  margin: 20px 0;
}
.cover .content .main-content-news .main-content-wrapper .other-news-blocks-i h3 {
  margin: 10px 0;
}
.cover .content .main-content-news .main-content-wrapper .other-news-blocks-i h3 > a {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #111111;
}
.cover .content .main-content-news .main-content-wrapper .other-news-blocks-i a:hover {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #bf1313;
}
.cover .content .main-content-news .main-content-wrapper .other-news-blocks-i a > img {
  width: 20px;
  height: 20px;
  margin-right: 25px;
}
.cover .content .main-content-news .main-content-wrapper .other-news-blocks-i .cat {
  font-size: 12px;
  margin-right: 5px;
  font-weight: bold;
  color: #bf1313;
}
.cover .content .main-content-news .main-content-wrapper .other-news-blocks-i .date {
  font-size: 12px;
  color: #959595;
}
.cover .content .main-content-news .main-content-wrapper .other-news-blocks-i .il,
.cover .content .main-content-news .main-content-wrapper .other-news-blocks-i .ir {
  display: inline-block;
}
.cover .content .main-content-news .main-content-wrapper .other-news-blocks-i .il {
  float: left;
}
.cover .content .main-content-news .main-content-wrapper .other-news-blocks-i .ir {
  float: right;
}
.cover .content .main-content-news .main-content-wrapper .other-news-blocks-i .anons {
  font-size: 14px;
}
.cover .content .main-content-news .main-content-wrapper .other-news-blocks-i:last-child hr {
  border: 0px;
}
.cover .content .right-bar {
  padding: 40px 0px;
  float: left;
  min-width: 300px;
  margin-left: -300px;
  height: 100%;
  right: 1px;
}
.cover .content .right-bar .right-main {
  border: 1px solid #e1e0d7;
  width: 300px;
}
.cover .content .right-bar .right-main .h4 {
  background: #eae9da;
  padding: 20px;
  color: #151515;
  font-size: 14px;
  font-weight: 700;
  border-top: 3px solid #bf1313;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.cover .content .right-bar .right-main a {
  color: #5571ff;
}
.cover .content .right-bar .right-main .right-news {
  padding: 0 10px;
  font-size: 12px;
}
.cover .content .right-bar .right-main .right-news .time {
  color: #cc3333;
  font-size: 10px;
}
.cover .content .right-bar .right-main .right-news .text > a {
  color: #151515;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
}
.cover .content .right-bar .right-main .right-news .text > a:hover {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #bf1313;
}
.cover .content .right-bar .right-main .right-news hr {
  border: 1px solid #cccccc;
  color: #222222;
  margin: 10px 0;
}
.cover .content .right-bar .right-main .right-news:last-child hr {
  border: 0px solid #cccccc;
}
.cover .footer {
  background: #151515;
  height: 60px;
  margin-left: 200px;
}
.cover .footer ul {
  list-style-type: none;
  padding-left: 35px;
  width: 500px;
  display: block;
  float: left;
}
.cover .footer li {
  display: inline-block;
  padding: 20px 10px;
}
.cover .footer li:first-child {
  padding: 20px 10px 20px 0;
}
.cover .footer a {
  color: #959595;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}
.cover .footer a:hover {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #dddddd;
}
.cover .footer .date {
  padding: 22px 35px 0 0;
  display: block;
  float: right;
  color: #959595;
  font-size: 12px;
}
.categorylist {
  margin-left: 25px;
  font-size: 16px;
}
.categorylist a {
  color: black;
  text-decoration: none;
}
.categorylist a:hover {
  text-decoration: underline;
}
.categorylist ul {
  margin-bottom: 10px;
}
.categorylist ul li {
  margin-left: 25px;
  font-size: 14px;
}
.errormes {
  border: 1px solid red;
  background: #cccccc;
  font-size: 14px;
  margin-bottom: 10px;
}
.errormes li {
  padding: 5px;
  list-style: none;
  text-align: center;
}
.message {
  border: 1px solid #9cacff;
  background: #e0e0e0;
  font-size: 14px;
  padding: 5px;
  text-align: center;
  margin-bottom: 10px;
}
